.App {
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.column {
  width:50%;
}

.center{
  justify-content: center;
  align-items: center;
}

.chart{
  display: flex;
  flex-wrap: wrap;
  padding:25px;
}

.chart > div{
  flex:max(400px, 100%/3 - 20px); /* and this */
}